.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 24vw;
    border: none;
    perspective: 1000px;
}
.flipy {
    transform: translateX(-50%);
}
.cardi {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
}
.cardi.flipped {
    transform: rotateX(180deg);
}
.card {
    position: absolute;
    font-size: 3vw;
    width: 100%;
    border-radius: 4vw;
    height: 100%;
    border: none;
    background-color: #f0f0f0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
#back {
    transform: rotateX(180deg);
}
.fadein{
    animation: fadein 1.5s ease-in-out;
}
@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}