.divButtons{
    background:grey;
    display:grid;
    grid-template-columns: repeat(auto-fit, 5em);
    justify-content:center;
    gap:1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
    width:80%;
    max-width:calc(5 * 5em + 4 * 1em);
    place-items: center;
    border-radius:1em;
    margin:auto;
    margin-bottom: 1em;
}
.unitSeparator{
    grid-column: 1 / -1;
    width: 103%;
    height: 5px;
    background-color: #636363;
}
.bottomDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    grid-column: 1 / -1;
    width: 100%;
}
.buttons{
    background-color: white;
    border-radius: 1em;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}
.unitButton{
    width: 5em;
    height: 5em;
}
.setupButton{
    width: 7em;
    height: 7em;
}
.unitText{
    font-size: 20px;
    font-weight: 500;
}
.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 24vw;
    border: none;
    perspective: 1000px;
}
.flipy {
    transform: translateX(-50%);
}
.cardi {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
}
.cardi.flipped {
    transform: rotateX(180deg);
}
.card {
    position: absolute;
    font-size: 3vw;
    width: 100%;
    border-radius: 4vw;
    height: 100%;
    border: none;
    background-color: #f0f0f0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.fadein{
    animation: fadein 1.5s ease-in-out;
}
#engside {
    transform: rotateX(180deg);
}
@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}