#titleDiv{
    text-align: center;
    background:grey;
    display: grid;
    font-size: clamp(0.01rem, 6vw, 1.2rem);
    grid-template-rows: repeat(auto-fit, 5rem);
    justify-content:center;
    gap: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 80%;
    max-width: 480px;
    place-items: center;
    border-radius: 1em;
    margin: auto;
    margin-bottom: 1em;
		margin-top: 1em;
}

.divButtons{
    background:grey;
    display: grid;
    grid-template-columns: repeat(auto-fit, 5rem);
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 80%;
    max-width: 480px;
    place-items: center;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 0;
    top: 0;
}

.setupButtonDiv1{
    border-bottom: 0.4rem solid #636363;
    margin-bottom: 0;
    border-radius: 1rem 1rem 0 0;
}

.setupButtonDiv2{
    margin-bottom: 0;
    border-radius: 0;
}

.setupButtonDiv3{
    border-top: 0.4rem solid #636363;
    border-radius: 0 0 1rem 1rem;
}

.buttonIcon {
	height: 100%;
	width: 100%;
}

.bottomDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    grid-column: 1 / -1;
    width: 100%;
}

.buttons{
    background-color: white;
    border-radius: 1em;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}

.unitButton{
    width: 5em;
    height: 5em;
}

.close-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

dialog {
    border-radius: 1rem;
    border: 2px solid gray;
}

dialog::backdrop{
    backdrop-filter: blur(3px);
}

.setupButton{
    width: 7em;
    height: 7em;
}

.unitText{
    font-size: 20px;
    font-weight: 500;
}

#fullcard {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 70rem;
    height: 30rem;
    border: none;
    perspective: 1000px;
}

footer {
    height: 50px;
    background: #eee;
    bottom: 0px;
    margin: 0;
    text-align: center;
    background-color: grey;
    max-height: 10%;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
	flex: 1;
}

#cardi {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0s;
    cursor: pointer;
}

#cardi.flipped {
    transform: rotateX(180deg);
}

.card {
    position: absolute;
    font-size: 4rem;
    width: 100%;
    border-radius: 5rem;
    height: 100%;
    border: none;
    background-color: #f0f0f0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    outline: 2px solid grey;
}

.sideNumber {
    font-size: 1.5rem;
    left: 4%;
    position: absolute;
    top: 3%;
}

.card p {
    font-size: 1.5rem;
    right: 4%;
    position: absolute;
    top: 3%;
}

#next {
    font-size: 2rem;
    border-radius: 0.7rem;
    width: 7rem;
    height: 4rem;
}

#prev {
    font-size: 2rem;
    border-radius: 0.7rem;
    width: 9rem;
    height: 4rem;
}

.fadein{
    animation: fadein 1.5s ease-in-out;
}

#engside {
    transform: rotateX(180deg);
}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

.optionButtonDiv {
    display: flex;
}
